:root {
  --tiffanyBlueColor: #81d8d0;
  --goldColor: rgb(231, 182, 110);
  --accentColor: var(--goldColor);
  --bodyBackgroundColor: white;
}

body {
  background-color: var(--bodyBackgroundColor);
  margin: 0;
  font-family: serif;
  height: 100%;
  width: 100%;
}

header {
  border-top: 0.5em solid var(--accentColor);
  padding: 1em 0;
  text-align: center;
}

hr {
  border-top: 0.5em solid var(--accentColor);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

main {
  padding: 1em 1em;
}

main a,
main a:active,
main a:visited {
  color: var(--accentColor);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.col-1 {
  flex-grow: 1;
}

.col-2 {
  flex-grow: 2;
}

h1, h2, h3 {
  font-family: serif;
  font-weight: normal;
}
