:root {
  --tiffanyBlueColor: #81d8d0;
  --bodyBackgroundColor: white;
}

body {
  background-color: var(--bodyBackgroundColor);
  margin: 0;
  font-family: serif;
  height: 100%;
  width: 100%;
}

header {
  border-top: 0.5em solid var(--tiffanyBlueColor);
  padding: 1em 0;
  text-align: center;
}

main {
  padding: 1em 0;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

h1, h2 {
  font-family: serif;
  font-weight: normal;
}
