:root {
  --tiffanyBlue: #81d8d0;
}

body {
  background-color: var(--tiffanyBlue);
  margin: 0;
  padding: 1em 0;
  font-family: serif;
  height: 100%;
  width: 100%;
}

main {
  background-color: white;
  padding: 2em;
  text-align: center;
}

h1, h2 {
  font-family: serif;
  font-weight: normal;
}
